# App Local OAuth
BITRIX_CLIENT_ID=local.xxxxxxxxxxxxx.xxxxxxxx
BITRIX_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# DEV: Ngrok
NGROK_AUTHTOKEN=
PUBLIC_URL=tu-dominio.ngrok-free.app

# Quantum Backend
QUANTUM_URL=http://localhost:8001
QUANTUM_API_KEY=
