# App Local OAuth
BITRIX_CLIENT_ID=local.xxxxxxxxxxxxx.xxxxxxxx
BITRIX_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# URL pública
APP_BASE_URL=https://tu-dominio.ngrok-free.app

# DEV: Ngrok
NGROK_AUTHTOKEN=

# Quantum Backend
QUANTUM_URL=http://localhost:8001
QUANTUM_API_KEY=
